@using Satyanam.Nop.Plugin.SatyanamCRM.Models.Contacts
@model ContactsDealsModel
<input asp-for="ContactId" type="hidden" />
<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <div class="cards-group">
                <div class="card card-default card-popup">
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="CustomerId" />
                            </div>
                            <div class="col-md-4">
                                <nop-select asp-for="CustomerId" asp-items="Model.DealOwner" />
                                <span asp-validation-for="CustomerId"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="DealName" />
                            </div>
                            <div class="col-md-4">
                                <nop-editor asp-for="DealName" asp-required="true" />
                                <span asp-validation-for="DealName"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="Amount" />
                            </div>
                            <div class="col-md-4">
                                <nop-editor asp-for="Amount" />
                                <span asp-validation-for="Amount"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="CompanyId" />
                            </div>
                            <div class="col-md-4">
                                <nop-select asp-for="CompanyId" asp-items="Model.Companys" />
                                <span asp-validation-for="CompanyId"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="ClosingDate" />
                            </div>
                            <div class="col-md-4">
                                <nop-editor asp-for="ClosingDate" />
                                <span asp-validation-for="ClosingDate"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="TypeId" />
                            </div>
                            <div class="col-md-4">
                                <nop-select asp-for="TypeId" asp-items="Model.Types" />
                                <span asp-validation-for="TypeId"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="StageId" />
                            </div>
                            <div class="col-md-4">
                                <nop-select asp-for="StageId" asp-items="Model.Stages" />
                                <span asp-validation-for="StageId"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="Probability" />
                            </div>
                            <div class="col-md-4">
                                <nop-editor asp-for="Probability" />
                                <span asp-validation-for="Probability"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="NextStep" />
                            </div>
                            <div class="col-md-4">
                                <nop-editor asp-for="NextStep" />
                                <span asp-validation-for="NextStep"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="ExpectedRevenue" />
                            </div>
                            <div class="col-md-4">
                                <nop-editor asp-for="ExpectedRevenue" />
                                <span asp-validation-for="ExpectedRevenue"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="LeadSourceId" />
                            </div>
                            <div class="col-md-4">
                                <nop-select asp-for="LeadSourceId" asp-items="Model.LeadSources" />
                                <span asp-validation-for="LeadSourceId"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="ContactId" />
                            </div>
                            <div class="col-md-4">
                                <nop-select asp-for="ContactId" asp-items="Model.Contacts" />
                                <span asp-validation-for="ContactId"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="Description" />
                            </div>
                            <div class="col-md-4">
                                <nop-textarea asp-for="Description" />
                                <span asp-validation-for="Description"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>