@model EmployeeAttendanceModel
<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <div class="cards-group">
                <div class="card card-default card-popup">
                    <div class="card-body">
                       @*  <div class="form-group row">
                            <div class="col-sm-3">
                                <nop-label asp-for="EmployeeName" />
                            </div>
                            <div class="col-sm-4">
                                <nop-select asp-for="EmployeeId" asp-items="Model.Employee" asp-required="true" />
                                <span asp-validation-for="EmployeeId"></span>
                            </div>
                        </div> *@
                       

                        <div class="form-group row">
                            <div class="col-sm-3">
                                <nop-label asp-for="SelectedEmployeeId"  />
                            </div>
                            <div class="col-md-4">
                                <div style="position: relative;">
                                    <nop-select asp-for="SelectedEmployeeId" asp-items="Model.AvailableEmployees" asp-multiple="true" class="form-control" />

                                    <span style="color:red; font-weight:bold; position: absolute; right: -12px; top: 15px;">*</span>
                                </div>
                                <script>
                                    $(document).ready(function () {
                                        var selectElement = $('#@Html.IdFor(model => model.SelectedEmployeeId)').data("kendoMultiSelect");

                                   
                                        selectElement.setOptions({
                                            autoClose: true,
                                            filter: "contains",
                                            change: function (e) {
                                                
                                                if (this.value().length > 1) {

                                                    var lastItem = this.value()[this.value().length - 1];
                                                   
                                                    this.value([lastItem]);
                                                }
                                            }
                                        });

                                    @if (Model.AvailableEmployees.Count == 0)
                                    {
                                        <text>
                                                selectElement.setOptions({
                                                    enable: false,
                                                    placeholder: '@T("Admin.Catalog.Employee.NoEmployee")'
                                                });
                                            selectElement._placeholder();
                                            selectElement._enable();
                                        </text>
                                    }
                                                                                                    });
                                </script>
                            </div>
                        </div>



                      @*   <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="Date" />
                            </div>
                            <div class="col-md-5">
                                <nop-editor asp-for="Date" asp-required="true" />
                                <span asp-validation-for="Date"></span>
                            </div>
                        </div> *@
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="CheckIn" />
                            </div>
                            <div class="col-md-5">
                                <nop-editor asp-for="CheckIn" asp-required="true" />
                                <span asp-validation-for="CheckIn"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="CheckOut" />
                            </div>
                            <div class="col-md-5">
                                <nop-editor asp-for="CheckOut" asp-required="true" />
                                <span asp-validation-for="CheckOut"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="SpentHours" />
                            </div>
                            <div class="col-md-5">
                                <nop-editor asp-for="SpentHours"  />
                                <span asp-validation-for="SpentHours"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3">
                                <nop-label asp-for="StatusName" />
                            </div>
                            <div class="col-sm-4">
                                <nop-select asp-for="StatusId" asp-items="Model.Status" asp-required="true" />
                                <span asp-validation-for="StatusId"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
