@using App.Web.Areas.Admin.Models.WeeklyQuestions;
@model App.Web.Areas.Admin.Models.WeeklyQuestions.WeeklyQuestionsModel

<input asp-for="Id" type="hidden" />
<input asp-for="Id" type="hidden" />
<div class="card-body">
    <div class="cards-group">
        <div class="card card-default">
            <div class="card-body">
                <div class="col-md-12">
                    <div class="form-group row">
                        <div class="col-md-3">
                            <nop-label asp-for="QuestionText" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="QuestionText" asp-required="true"/>
                            <span asp-validation-for="QuestionText"></span>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <div class="col-md-3">
                            <nop-label asp-for="ControlTypeId" />
                        </div>
                        <div class="col-md-9">
                            <nop-select asp-for="ControlTypeId" asp-items="@Model.ControlTyeps" asp-required="true" />
                            <span asp-validation-for="ControlTypeId"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <nop-label asp-for="ControlValue" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="ControlValue" asp-required="true" />
                            <span asp-validation-for="ControlValue"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <nop-label asp-for="DesignationId" />
                        </div>
                        <div class="col-md-9">
                            <nop-select asp-for="DesignationId" asp-items="@Model.Designations" asp-required="true" />
                            <span asp-validation-for="DesignationId"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <nop-label asp-for="DisplayOrder" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="DisplayOrder" />
                            <span asp-validation-for="DisplayOrder"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





