@using App.Web.Areas.Admin.Models.Extension.TaskCategories
@model TaskCategoryModel

@{
    //page title
    ViewBag.PageTitle = T("Admin.Configuration.TaskCategory.AddNew").Text;
    //active menu item
    NopHtml.SetActiveMenuItemSystemName("TaskCategory");
}

<form asp-controller="TaskCategory" asp-action="Create" method="post" id="taskcategory-form">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.Configuration.TaskCategory.AddNew")
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Admin.Configuration.TaskCategory.BackToList")</a>
            </small>
        </h1>
        @if (await permissionService.AuthorizeAsync(StandardPermissionProvider.ManageTaskCategory, PermissionAction.Add))
        {
            <div class="float-right">
                <button type="submit" name="save" class="btn btn-primary">
                    <i class="far fa-save"></i>
                    @T("Admin.Common.Save")
                </button>
                <button type="submit" name="save-continue" class="btn btn-primary">
                    <i class="far fa-save"></i>
                    @T("Admin.Common.SaveContinue")
                </button>
            </div>
        }
    </div>

    @await Html.PartialAsync("/Areas/Admin/Views/Extension/TaskCategories/_CreateOrUpdate.cshtml", Model)
</form>
