@using App.Web.Areas.Admin.Models.Extension.Activities
@model ActivityModel


@{
    //page title
    ViewBag.PageTitle = T("Admin.Configuration.Activity.AddNew").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("Activity");
}
<form asp-controller="Activity" asp-action="Create" method="post" id="activity-form">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.Configuration.Activity.AddNew")
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Admin.Configuration.Activity.BackToList")</a>
            </small>
        </h1>
        @if (await permissionService.AuthorizeAsync(StandardPermissionProvider.ManageActivity, PermissionAction.Add))
        {
            <div class="float-right">
                <button type="submit" name="save" class="btn btn-primary">
                    <i class="far fa-save"></i>
                    @T("Admin.Common.Save")
                </button>
                <button type="submit" name="save-continue" class="btn btn-primary">
                    <i class="far fa-save"></i>
                    @T("Admin.Common.SaveContinue")
                </button>
            </div>
        }
    </div>
    @await Html.PartialAsync("/Areas/Admin/Views/Extension/Activities/_CreateOrUpdate.cshtml", Model)
</form>
