@using Satyanam.Nop.Plugin.SatyanamCRM.Models.LeadSources
@model LeadSourceModel

<div class="card-body">
	<div class="form-group row">
		<div class="col-md-3">
			<nop-label asp-for="Name" />
		</div>
		<div class="col-md-4">
			<nop-editor asp-for="Name" asp-required="true" />
			<span asp-validation-for="Name"></span>
		</div>
	</div>
</div>