@model ExpenseCategoryModel

@{
    Layout = "_AdminLayout";
    ViewBag.PageTitle = T("Satyanam.Plugin.Misc.AccountManagement.Admin.ExpenseCategory.Add").Text;
    NopHtml.SetActiveMenuItemSystemName("Satyanam.Plugin.Misc.AccountManagement.Admin.ExpenseCategories");
}

<form asp-controller="ExpenseCategory" asp-action="ExpenseCategoryCreate" method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Satyanam.Plugin.Misc.AccountManagement.Admin.ExpenseCategory.Add")
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="ExpenseCategories" asp-controller="ExpenseCategory">@T("Satyanam.Plugin.Misc.AccountManagement.Admin.ExpenseCategory.BackToList")</a>
            </small>
        </h1>
        @if (await permissionService.AuthorizeAsync(AccountManagementPermissionProvider.ManageExpenseCategories, PermissionAction.Add))
        {
            <div class="float-right">
                <button type="submit" name="save" class="btn btn-primary">
                    <i class="far fa-save"></i>
                    @T("Admin.Common.Save")
                </button>
                <button type="submit" name="save-continue" class="btn btn-primary">
                    <i class="far fa-save"></i>
                    @T("Admin.Common.SaveContinue")
                </button>
            </div>
        }
    </div>
    @await Html.PartialAsync("~/Plugins/Misc.AccountManagement/Areas/Admin/Views/Extension/ExpenseCategory/_CreateOrUpdateExpenseCategory.cshtml", Model)
</form>
