@model EmployeeAttendanceSettingsModel

<div class="card-body">
    <div class="form-group row">
        <div class="col-md-3">
            <nop-override-store-checkbox asp-for="OfficeTime_From_OverrideForStore" asp-input="OfficeTime_From" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="OfficeTime_From" />
        </div>
        <div class="col-md-4">
            <input asp-for="OfficeTime_From" id="OfficeTime_From" type="time" class="form-control" />
            <span asp-validation-for="OfficeTime_From"></span>
        </div>
    </div>

 
    <div class="form-group row">
        <div class="col-md-3">
            <nop-override-store-checkbox asp-for="OfficeTime_To_OverrideForStore" asp-input="OfficeTime_To" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="OfficeTime_To" />
        </div>
        <div class="col-md-4">
            <input asp-for="OfficeTime_To" id="Reminder2_To" type="time" class="form-control" />
            <span asp-validation-for="OfficeTime_To"></span>
        </div>
    </div>
</div>