@model TimeSheetModel

@{
    //page title
    ViewBag.PageTitle = T("Admin.Configuration.TimeSheet").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("TimeSheet");

    const string hideSearchBlockAttributeName = "TimeSheet.HideSearchBlock";
    var hideSearchBlock = await genericAttributeService.GetAttributeAsync<bool>(await workContext.GetCurrentCustomerAsync(), hideSearchBlockAttributeName);
}
<div class="content-header clearfix">
    <h1 class="float-left">
        @T("Admin.Configuration.DailyReport")
    </h1>

</div>
<form asp-controller="DailyReport" asp-action="dailyReportCreate">
    <input type="hidden" asp-for="@Model.Id" />
    <input type="hidden" id="employeeid" name="employeeid" />
    <input type="hidden" id="startdate" name="startdate" />
    <input type="hidden" id="enddate" name="enddate" />
    <section class="content">
        <div class="container-fluid">
            <div class="form-horizontal">
                <div class="cards-group">
                    <div class="card card-default card-search">
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="col-sm-3">
                                    <nop-label asp-for="reports.EmployeeName" />
                                </div>
                                <div class="col-sm-4">
                                    <nop-select asp-for="reports.EmployeeId" asp-items="Model.reports.Employee" />
                                    <span asp-validation-for="reports.EmployeeName"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-3">
                                    <nop-label asp-for="reports.StartDate" />
                                </div>
                                <div class="col-sm-4">
                                    <nop-editor asp-for="reports.StartDate" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-3">
                                    <nop-label asp-for="reports.EndDate" />
                                </div>
                                <div class="col-sm-4">
                                    <nop-editor asp-for="reports.EndDate" />
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="text-center col-12">
                                <button type="submit" id="search-brands" class="btn btn-primary
                                         btn-search">
                                    <i class="fas fa-search"></i>
                                    @T("Admin.Common.Search")
                                </button>
                            </div>
                        </div>
                        <br />
                        <div class="card-body">
                        @await Html.PartialAsync("/Areas/Admin/Views/Extension/DailyReport/DailyReports.cshtml", Model)
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>
</form>


<script>
    $(document).ready(function () {
        $('#search-brands').click(function () {
            // Get the selected values from the dropdown lists
            var employeeid = $('[name="reports.EmployeeId"]').val();
           var startdate = $('[name="reports.StartDate"]').val();
            var enddate = $('[name="reports.EndDate"]').val();
            // Set the values of the hidden input fields
            $('#employeeid').val(employeeid);
            $('#startdate').val(startdate);
            $('#enddate').val(enddate);

            // Submit the form
            $('#dailyReportCreate').submit();
        });
    });
</script>

