@using App.Web.Areas.Admin.InterviewQeations.Models;
@model RecruitementModel

@{
    //page title
    ViewBag.PageTitle = T("Admin.HRM.Holidays.AddNew").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("InterviewQuestions");
}

<form asp-controller="InterviewQeations" asp-action="Create" method="post" id="Rec-form">

   <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.Catalog.InterviewQuestions.AddNew")
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Admin.Catalog.Question.BackToList")</a>
            </small>
        </h1>
        @if (await permissionService.AuthorizeAsync(StandardPermissionProvider.ManageQuestion, PermissionAction.Add))
        {
            <div class="float-right">
                <button type="submit" value="Upload" name="save" class="btn btn-primary" id="Documentupload">
                    <i class="far fa-save"></i>
                    @T("Admin.Common.Save")
                </button>
                <button type="submit" id="Documentupload" name="save-continue" class="btn btn-primary">
                    <i class="far fa-save"></i>
                    @T("Admin.Common.SaveContinue")
                </button>
            </div>
        }
    </div>

    @await Html.PartialAsync("/Areas/Admin/Views/Extension/InterviewQeations/_CreateOrUpdate.cshtml", Model)


</form>
