@using App.Web.Areas.Admin.Models.Extension.Announcements
@model AnnouncementModel


@{
    //page title
    ViewBag.PageTitle = T("Admin.Configuration.Announcement.AddNew").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("Announcement");
}
<form asp-controller="Announcement" asp-action="Create" method="post" id="activity-form">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.Configuration.Announcement.AddNew")
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Admin.Configuration.Announcement.BackToList")</a>
            </small>
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.SaveContinue")
            </button>
        </div>
    </div>
    @await Html.PartialAsync("/Areas/Admin/Views/Extension/Announcements/_CreateOrUpdate.cshtml", Model)
</form>
