@model BankAccountModel

@{
    var customer = await workContext.GetCurrentCustomerAsync();

    const string hideInfoBlockAttributeName = "BankAccountPage.HideInfoBlock";
    var hideInfoBlock = await genericAttributeService.GetAttributeAsync<bool>(customer, hideInfoBlockAttributeName);
}

<input asp-for="Id" type="hidden" />

<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <nop-cards id="bank-account-cards">
                <nop-card asp-name="bank-account-info" asp-icon="fas fa-info" asp-title="@T("Satyanam.Plugin.Misc.AccountManagement.Admin.BankAccount.Info")" asp-hide-block-attribute-name="@hideInfoBlockAttributeName" asp-hide="@hideInfoBlock" asp-advanced="false">
                    @await Html.PartialAsync("_CreateOrUpdateBankAccount.Info.cshtml", Model)
                </nop-card>
            </nop-cards>
        </div>
    </div>
</section>
