@using App.Web.Areas.Admin.Models.Extension.CheckLists
@model CheckListMasterModel

@{
    const string hideInfoBlockAttributeName = "CheckListMasterDetails.HideInfoBlock";
    var customer = await workContext.GetCurrentCustomerAsync();
    var hideInfoBlock = await genericAttributeService.GetAttributeAsync<bool>(customer, hideInfoBlockAttributeName);
}

<input asp-for="Id" type="hidden" />

<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <nop-cards id="checklistmaster-item-cards">
                <nop-card asp-name="checklistmaster-item-info" asp-icon="fas fa-info" asp-title="@T("Admin.Configuration.CheckListMaster.Info")" asp-hide-block-attribute-name="hideInfoBlockAttributeName" asp-hide="false">
                    @await Html.PartialAsync("/Areas/Admin/Views/Extension/CheckLists/_CreateOrUpdate.Info.cshtml", Model)
                </nop-card>
            </nop-cards>
        </div>
    </div>
</section>
