@model UpdateQuestionOptionModel

@using App.Web.Areas.Admin.Models.Extension.UpdateTemplateQuestion
@using Nop.Services

<link rel="stylesheet" href="~/lib_npm/farbstastic/farbtastic.css" />
<script src="~/lib_npm/farbstastic/farbtastic.min.js" asp-location="Head"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


@{
    Layout = "_AdminPopupLayout";
}


<input asp-for="Id" type="hidden" />
<input asp-for="UpdateTemplateQuestionId" type="hidden" />
<input asp-for="ControlType" type="hidden" />


@if (ViewBag.RefreshPage == true)
{
    <script>
        try {
            window.opener.document.forms['@(Context.Request.Query["formId"])'].@(Context.Request.Query["btnId"]).click();
        } catch (e) {}
        window.close();
    </script>
}

<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <div class="cards-group">
                <div class="card card-default card-popup">
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-sm-3">
                                <nop-label asp-for="Name" />
                            </div>
                            <div class="col-sm-9">
                                <nop-editor asp-for="Name" asp-required="true" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3">
                                <nop-label asp-for="DisplayOrder" />
                            </div>
                            <div class="col-sm-9">
                                <nop-editor asp-for="DisplayOrder" />
                                <span asp-validation-for="DisplayOrder"></span>
                            </div>
                        </div>
                        @if (Model.ControlType != (int)Satyanam.Nop.Core.Domains.ControlTypeEnum.ReadonlyCheckboxes)
                        {
                            <div class="form-group row">
                                <div class="col-sm-3">
                                    <nop-label asp-for="IsPreSelected" />
                                </div>
                                <div class="col-sm-9">
                                    <nop-editor asp-for="IsPreSelected" />
                                    <span asp-validation-for="IsPreSelected"></span>
                                </div>
                            </div>
                        }
                        @if (Model.ControlType == (int)Satyanam.Nop.Core.Domains.ControlTypeEnum.Checkboxes)
                        {
                            <div class="form-group row">
                                <div class="col-sm-3">
                                    <nop-label asp-for="IsRequired" />
                                </div>
                                <div class="col-sm-9">
                                    <nop-editor asp-for="IsRequired" />
                                    <span asp-validation-for="IsRequired"></span>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

