@model HolidayModel

<div class="card-body">
	<div class="form-group row">
		<div class="col-md-3">
			<nop-label asp-for="Name" />
		</div>
		<div class="col-md-4">
			<nop-editor asp-for="Name" asp-required="true" />
			<span asp-validation-for="Name"></span>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-md-3">
			<nop-label asp-for="Date" />
		</div>
		<div class="col-md-7">
			<nop-editor asp-for="Date" asp-required="true"  />
			<span asp-validation-for="Date"></span>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-md-3">
			<nop-label asp-for="WeekDay" />
		</div>
		<div class="col-md-4">
		
			<input asp-for="WeekDay" type="text" id="WeekDay" class="form-control text-box single-line" readonly />
			<span asp-validation-for="WeekDay"></span>
		</div>
	</div>
</div>
<script>
	$(document).ready(function () {
		// Event handler for when the Date field changes
		$('#Date').on('change', function () {
			var selectedDate = $(this).val();
			console.log(selectedDate);
			if (selectedDate) {
				// Convert the selected date to a JavaScript Date object
				var date = new Date(selectedDate);

				// Get the day of the week as a string
				var weekdays = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
				var weekday = weekdays[date.getDay()];

				// Set the WeekDay field value
				$('#WeekDay').val(weekday);
			}
		});
	});
</script>