@model HolidayModel

@{
    const string hideInfoBlockAttributeName = "HolidayDetails.HideInfoBlock";
    var customer = await workContext.GetCurrentCustomerAsync();
    var hideInfoBlock = await genericAttributeService.GetAttributeAsync<bool>(customer, hideInfoBlockAttributeName);
}
@* <div asp-validation-summary="All"></div> *@
<input asp-for="Id" type="hidden" />

<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <nop-cards id="holiday-item-cards">
                <nop-card asp-name="holiday-item-info" asp-icon="fas fa-info" asp-title="@T("Admin.HRM.Holidays.Info")" asp-hide-block-attribute-name="@hideInfoBlockAttributeName" asp-hide="@hideInfoBlock">@await Html.PartialAsync("/Areas/Admin/Views/Extension/Holiday/_CreateOrUpdate.Info.cshtml", Model)</nop-card>
            </nop-cards>
        </div>
    </div>
</section>