@using App.Web.Areas.Admin.Models.Extension.Candidates
@model CandidateModel
@{
    //page title
    ViewBag.PageTitle = T("Admin.Candidate.EditCandidateDetails").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("Candidate");
}
<form asp-controller="Candidate" asp-action="Edit" method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.Candidate.EditCandidateDetails")
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Admin.Candidate.BackToList")</a>
            </small>
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.SaveContinue")
            </button>
        </div>
    </div>
    @await Html.PartialAsync("/Areas/Admin/Views/Extension/Candidate/_CreateOrUpdate.cshtml", Model)
</form>