@model EmployeeModel

@{
    ViewBag.PageTitle = T("Admin.HRM.Employees.AddNew").Text;
    NopHtml.SetActiveMenuItemSystemName("Employee");
    NopHtml.AddCssFileParts("~/css/admin/admin-components.css");
}

<form asp-controller="Employee" asp-action="Create" method="post" id="employee-form">

    <div class="am-page-hdr">
        <a asp-action="List" class="am-back-link">
            <i class="fas fa-arrow-left"></i>
            @T("Admin.HRM.Employees.BackToList")
        </a>
        <span class="am-hdr-title">@T("Admin.HRM.Employees.AddNew")</span>
        <div class="am-hdr-actions">
            @if (await permissionService.AuthorizeAsync(StandardPermissionProvider.ManageEmployee, PermissionAction.Add))
            {
                <button type="submit" name="save-continue" class="btn btn-secondary btn-sm">
                    <i class="far fa-save"></i>
                    @T("Admin.Common.SaveContinue")
                </button>
                <button type="submit" name="save" class="btn btn-primary btn-sm">
                    <i class="far fa-save"></i>
                    @T("Admin.Common.Save")
                </button>
            }
        </div>
    </div>

    @await Html.PartialAsync("/Areas/Admin/Views/Extension/Employee/_CreateOrUpdate.cshtml", Model)

</form>
