<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
	<siteMapNode SystemName="Home" nopResource="Admin.Home" controller="Home" action="Overview">
		<siteMapNode SystemName="Dashboard" nopResource="Admin.Dashboard" controller="Home" action="Index" IconClass="fas fa-desktop" />

		<siteMapNode SystemName="Customers" nopResource="Admin.Customers" PermissionNames="ManageCustomers, ManageVendors, ManageActivityLog" IconClass="far fa-user" >
			<siteMapNode SystemName="Customers list" nopResource="Admin.Customers.Customers" PermissionNames="ManageCustomers" controller="Customer" action="List" IconClass="far fa-dot-circle" />
			<siteMapNode SystemName="Customer roles" nopResource="Admin.Customers.CustomerRoles" PermissionNames="ManageCustomers" controller="CustomerRole" action="List" IconClass="far fa-dot-circle" />
			<siteMapNode SystemName="Online customers" nopResource="Admin.Customers.OnlineCustomers" PermissionNames="ManageCustomers" controller="OnlineCustomer" action="List" IconClass="far fa-dot-circle" />
			<siteMapNode SystemName="Activity logs" nopResource="Admin.Customers.ActivityLog" PermissionNames="ManageActivityLog" controller="ActivityLog" action="ActivityLogs" IconClass="far fa-dot-circle"/>
			<siteMapNode SystemName="Activity types" nopResource="Admin.Customers.ActivityLogType" PermissionNames="ManageActivityLog" controller="ActivityLog" action="ActivityTypes" IconClass="far fa-dot-circle"/>
			<siteMapNode SystemName="GDPR log" nopResource="Admin.Customers.GdprLog" PermissionNames="ManageCustomers" controller="Customer" action="GdprLog" IconClass="far fa-dot-circle" />
		</siteMapNode>
		<siteMapNode SystemName="Promotions" nopResource="Admin.Promotions" PermissionNames="ManageAffiliates, ManageNewsletterSubscribers, ManageCampaigns, ManageDiscounts" IconClass="fas fa-tags">
			<siteMapNode SystemName="Affiliates" nopResource="Admin.Affiliates" PermissionNames="ManageAffiliates" controller="Affiliate" action="List" IconClass="far fa-dot-circle" />
			<siteMapNode SystemName="Newsletter subscriptions" nopResource="Admin.Promotions.NewsletterSubscriptions" PermissionNames="ManageNewsletterSubscribers" controller="NewsLetterSubscription" action="List"  IconClass="far fa-dot-circle"/>
			<siteMapNode SystemName="Campaigns" nopResource="Admin.Promotions.Campaigns" PermissionNames="ManageCampaigns" controller="Campaign" action="List"  IconClass="far fa-dot-circle"/>
		</siteMapNode>
		<siteMapNode SystemName="Content Management" nopResource="Admin.ContentManagement" PermissionNames="ManagePolls, ManageNews, ManageBlog, ManageTopics, ManageForums, ManageMessageTemplates" IconClass="fas fa-cubes">
			<siteMapNode SystemName="Topics" nopResource="Admin.ContentManagement.Topics" PermissionNames="ManageTopics" controller="Topic" action="List" IconClass="far fa-dot-circle" />
			<siteMapNode SystemName="Message templates" nopResource="Admin.ContentManagement.MessageTemplates" PermissionNames="ManageMessageTemplates" controller="MessageTemplate" action="List"  IconClass="far fa-dot-circle"/>
			<siteMapNode SystemName="News items" nopResource="Admin.ContentManagement.News.NewsItems" PermissionNames="ManageNews" controller="News" action="NewsItems" IconClass="far fa-dot-circle"/>
			<siteMapNode SystemName="News comments" nopResource="Admin.ContentManagement.News.Comments" PermissionNames="ManageNews" controller="News" action="NewsComments" IconClass="far fa-dot-circle"/>
			<siteMapNode SystemName="Blog posts" nopResource="Admin.ContentManagement.Blog.BlogPosts" PermissionNames="ManageBlog" controller="Blog" action="BlogPosts" IconClass="far fa-dot-circle"/>
			<siteMapNode SystemName="Blog comments" nopResource="Admin.ContentManagement.Blog.Comments" PermissionNames="ManageBlog" controller="Blog" action="BlogComments" IconClass="far fa-dot-circle"/>
			<siteMapNode SystemName="Polls" nopResource="Admin.ContentManagement.Polls" PermissionNames="ManagePolls" controller="Poll" action="List"  IconClass="far fa-dot-circle"/>
			<siteMapNode SystemName="Manage forums" nopResource="Admin.ContentManagement.Forums" PermissionNames="ManageForums" controller="Forum" action="List"  IconClass="far fa-dot-circle"/>
		</siteMapNode>
		<siteMapNode SystemName="Configuration" nopResource="Admin.Configuration" PermissionNames="ManageStores,ManageCountries,ManageLanguages,ManageSettings,ManageAppSettings,ManagePaymentMethods,ManageExternalAuthenticationMethods,ManageMultifactorAuthenticationMethods,ManageWidgets,ManageTaxSettings,ManageShippingSettings,ManageCurrencies,ManageACL,ManageEmailAccounts,ManagePlugins" IconClass="fas fa-cogs">
			<siteMapNode SystemName="Settings" nopResource="Admin.Configuration.Settings" PermissionNames="ManageSettings" IconClass="far fa-dot-circle" >
				<siteMapNode SystemName="General settings" nopResource="Admin.Configuration.Settings.GeneralCommon" controller="Setting" action="GeneralCommon" IconClass="far fa-circle"/>
				<siteMapNode SystemName="Customer and user settings" nopResource="Admin.Configuration.Settings.CustomerUser" controller="Setting" action="CustomerUser" IconClass="far fa-circle"/>
				<siteMapNode SystemName="Blog settings" nopResource="Admin.Configuration.Settings.Blog" controller="Setting" action="Blog" IconClass="far fa-circle"/>
				<siteMapNode SystemName="News settings" nopResource="Admin.Configuration.Settings.News" controller="Setting" action="News" IconClass="far fa-circle"/>
				<siteMapNode SystemName="Forums settings" nopResource="Admin.Configuration.Settings.Forums" controller="Setting" action="Forum" IconClass="far fa-circle"/>
				<siteMapNode SystemName="Media settings" nopResource="Admin.Configuration.Settings.Media" controller="Setting" action="Media" IconClass="far fa-circle"/>
				<siteMapNode SystemName="App settings" nopResource="Admin.Configuration.AppSettings" PermissionNames="ManageAppSettings" controller="Setting" action="AppSettings" IconClass="far fa-circle"/>
				<siteMapNode SystemName="Employee settings" nopResource="Admin.Configuration.EmployeeSettings" PermissionNames="ManageAppSettings" controller="Setting" action="Employee" IconClass="far fa-circle"/>
				<siteMapNode SystemName="Leave settings" nopResource="Admin.Configuration.LeaveSettings" PermissionNames="ManageAppSettings" controller="Setting" action="Leave" IconClass="far fa-circle"/>
				<siteMapNode SystemName="MonthlyReport Settings" nopResource="Admin.Configuration.MonthlyReportSettings" PermissionNames="ManageAppSettings" controller="Setting" action="MonthlyReport" IconClass="far fa-circle"/>
				<siteMapNode SystemName="Email Settings" nopResource="Admin.Configuration.Settings.EmailSettings" PermissionNames="ManageAppSettings" controller="Setting" action="EmailSettings" IconClass="far fa-circle"/>
				<siteMapNode SystemName="TimeSheet settings" nopResource="Admin.Configuration.Settings.TimeSheet" controller="Setting" action="TimeSheet" IconClass="far fa-circle"/>
				<siteMapNode SystemName="Employee Attendance settings" nopResource="Admin.Configuration.Settings.EmployeeAttendace" controller="Setting" action="EmployeeAttendance" IconClass="far fa-circle"/>
				<siteMapNode SystemName="TeamPerformanceSettings" nopResource="Admin.Configuration.Settings.TeamPerformanceSettings" controller="Setting" action="TeamPerformance" IconClass="far fa-circle"/>
				<siteMapNode SystemName="ProjectTask settings" nopResource="Admin.Configuration.Settings.ProjectTaskSettings" controller="Setting" action="ProjectTask" IconClass="far fa-circle"/>
				<siteMapNode SystemName="All settings" nopResource="Admin.Configuration.Settings.AllSettings" controller="Setting" action="AllSettings" IconClass="far fa-circle"/>
				<siteMapNode SystemName="Alert Configuration" nopResource="Admin.TaskAlert.TaskAlertConfiguration" PermissionNames="ManageAlertConfiguration" controller="TaskAlert" action="TaskAlertConfigurations" IconClass="far fa-circle"/>
				<siteMapNode SystemName="Alert Reason" nopResource="Admin.TaskAlert.TaskAlertReason" PermissionNames="ManageAlertReason" controller="TaskAlert" action="TaskAlertReasons" IconClass="far fa-circle"/>
				<siteMapNode SystemName="Alert Report" nopResource="Admin.TaskAlert.TaskAlertReport" PermissionNames="ManageAlertReport" controller="TaskAlert" action="TaskAlertReports" IconClass="far fa-circle"/>
			</siteMapNode>
			<siteMapNode SystemName="Email accounts" nopResource="Admin.Configuration.EmailAccounts" PermissionNames="ManageEmailAccounts" controller="EmailAccount" action="List" IconClass="far fa-dot-circle"/>
			<siteMapNode SystemName="Stores" nopResource="Admin.Configuration.Stores" PermissionNames="ManageStores" controller="Store" action="List" IconClass="far fa-dot-circle"/>
			<siteMapNode SystemName="Countries" nopResource="Admin.Configuration.Countries" PermissionNames="ManageCountries" controller="Country" action="List" IconClass="far fa-dot-circle"/>
			<siteMapNode SystemName="Languages" nopResource="Admin.Configuration.Languages" PermissionNames="ManageLanguages" controller="Language" action="List" IconClass="far fa-dot-circle"/>
			<siteMapNode SystemName="Currencies" nopResource="Admin.Configuration.Currencies" PermissionNames="ManageCurrencies" controller="Currency" action="List" IconClass="far fa-dot-circle"/>
			<siteMapNode SystemName="Access control list" nopResource="Admin.Configuration.ACL" PermissionNames="ManageACL" controller="Security" action="Permissions" IconClass="far fa-dot-circle" />
			<siteMapNode SystemName="User Permissions" nopResource="Admin.Configuration.UserPermissions" PermissionNames="ManageACL" controller="Security" action="UserPermissions" IconClass="far fa-dot-circle" />
			<siteMapNode SystemName="Widgets" nopResource="Admin.ContentManagement.Widgets" PermissionNames="ManageWidgets" controller="Widget" action="List"  IconClass="far fa-dot-circle"/>
			<siteMapNode SystemName="Authentication" nopResource="Admin.Configuration.Authentication" PermissionNames="ManageExternalAuthenticationMethods,ManageMultifactorAuthenticationMethods" IconClass="far fa-dot-circle">
				<siteMapNode SystemName="External authentication methods" nopResource="Admin.Configuration.Authentication.ExternalMethods" PermissionNames="ManageExternalAuthenticationMethods" controller="Authentication" action="ExternalMethods" IconClass="far fa-circle"/>
				<siteMapNode SystemName="Multi-factor authentication methods" nopResource="Admin.Configuration.Authentication.MultiFactorMethods" PermissionNames="ManageMultifactorAuthenticationMethods" controller="Authentication" action="MultiFactorMethods" IconClass="far fa-circle"/>
			</siteMapNode>
			<siteMapNode SystemName="Local plugins" nopResource="Admin.Configuration.Plugins.Local" PermissionNames="ManagePlugins" controller="Plugin" action="List"  IconClass="far fa-dot-circle"/>
			<siteMapNode SystemName="All plugins and themes" nopResource="Admin.Configuration.Plugins.OfficialFeed" PermissionNames="ManagePlugins" controller="Plugin" action="OfficialFeed"  IconClass="far fa-dot-circle"/>
		</siteMapNode>
		<siteMapNode SystemName="Announcement" PermissionNames="ManageAnnouncements" nopResource="Admin.Announcements" controller="Announcement" action="List" IconClass="fas fa-bullhorn" />
		<siteMapNode SystemName="System" nopResource="Admin.System" PermissionNames="ManageSystemLog,ManageMessageQueue,ManageMaintenance,ManageScheduleTasks" IconClass="fas fa-cube">
			<siteMapNode SystemName="System information" nopResource="Admin.System.SystemInfo" PermissionNames="ManageMaintenance" controller="Common" action="SystemInfo"  IconClass="far fa-dot-circle"/>
			<siteMapNode SystemName="Log" nopResource="Admin.System.Log" PermissionNames="ManageSystemLog" controller="Log" action="List"  IconClass="far fa-dot-circle"/>
			<siteMapNode SystemName="Warnings" nopResource="Admin.System.Warnings" PermissionNames="ManageMaintenance" controller="Common" action="Warnings"  IconClass="far fa-dot-circle"/>
			<siteMapNode SystemName="Maintenance" nopResource="Admin.System.Maintenance" PermissionNames="ManageMaintenance" controller="Common" action="Maintenance"  IconClass="far fa-dot-circle"/>
			<siteMapNode SystemName="Queued emails" nopResource="Admin.System.QueuedEmails" PermissionNames="ManageMessageQueue" controller="QueuedEmail" action="List"  IconClass="far fa-dot-circle"/>
			<siteMapNode SystemName="Schedule tasks" nopResource="Admin.System.ScheduleTasks" PermissionNames="ManageScheduleTasks" controller="ScheduleTask" action="List"  IconClass="far fa-dot-circle"/>
			<siteMapNode SystemName="Search engine friendly names" nopResource="Admin.System.SeNames" PermissionNames="ManageMaintenance" controller="Common" action="SeNames"  IconClass="far fa-dot-circle"/>
			<siteMapNode SystemName="Templates" nopResource="Admin.System.Templates" PermissionNames="ManageMaintenance" controller="Template" action="List" IconClass="far fa-dot-circle"/>
		</siteMapNode>
		<siteMapNode SystemName="ProjectManagement" nopResource="Admin.HRM.ProjectManagement" PermissionNames="ManageProject,ManageProjectIntegration,ManageProjectTask,ManageTaskCategory,ManageChecklist,ManageActivity,ManageTimesheet,ManageProcessWorkflow,ManageEmployeeReport,ManageProjectReport,ManageTaskReport,ManageTimeSummmaryReport" IconClass="fas fa-folder-open">
			<siteMapNode SystemName="Project" nopResource="Admin.System.Project" PermissionNames="ManageProject" controller="Project" action="List" IconClass="far fa-dot-circle"/>
			<siteMapNode SystemName="Project Integration" nopResource="Admin.System.ProjectIntegration" PermissionNames="ManageProjectIntegration" controller="ProjectIntegration" action="List" IconClass="far fa-dot-circle"/>
			<siteMapNode SystemName="ProjectTask" nopResource="Admin.System.ProjectTask" PermissionNames="ManageProjectTask" controller="ProjectTask" action="List" IconClass="far fa-dot-circle"/>
			<siteMapNode SystemName="TaskCategory" nopResource="Admin.System.TaskCategory" PermissionNames="ManageTaskCategory" controller="TaskCategory" action="List" IconClass="far fa-dot-circle"/>
			<siteMapNode SystemName="CheckListMaster" nopResource="Admin.System.CheckList" PermissionNames="ManageChecklist" controller="CheckList" action="List" IconClass="far fa-dot-circle"/>
			<siteMapNode SystemName="Activity" nopResource="Admin.System.TaskActivity" PermissionNames="ManageActivity" controller="Activity" action="List" IconClass="far fa-dot-circle"/>
			<siteMapNode SystemName="TimeSheet" nopResource="Admin.System.TimeSheet" PermissionNames="ManageTimesheet" controller="TimeSheet" action="List" IconClass="far fa-dot-circle"/>
			<siteMapNode SystemName="ProcessWorkflow" nopResource="Admin.System.ProcessWorkflow" PermissionNames="ManageProcessWorkflow" controller="ProcessWorkflow" action="List" IconClass="far fa-dot-circle"/>
			<siteMapNode SystemName="ReportByEmployee" nopResource="Admin.System.ReportByEmployee" PermissionNames="ManageEmployeeReport" controller="Reports" action="ReportByEmployee" IconClass="far fa-dot-circle"/>
			<siteMapNode SystemName="ReportByProject" nopResource="Admin.System.ReportByProject" PermissionNames="ManageProjectReport" controller="Reports" action="ReportByProject" IconClass="far fa-dot-circle"/>
			<siteMapNode SystemName="ReportByTask" nopResource="Admin.System.ReportByTask" PermissionNames="ManageTaskReport" controller="Reports" action="ReportByTask" IconClass="far fa-dot-circle"/>
			<siteMapNode SystemName="TimeSummaryReport" nopResource="Admin.System.TimeSummaryReport" PermissionNames="ManageTimeSummmaryReport" controller="Reports" action="TimeSummaryReport" IconClass="far fa-dot-circle"/>
		</siteMapNode>
		<siteMapNode SystemName="HRM" nopResource="Admin.HRM" PermissionNames="ManageEmployee,ManageDesignation,ManageHoliday,ManageDepartment,ManageEmployeeCurrentActivity,ManageEmployeeActivities,ManageEmployeeAttendance,ManageAttendanceReport,ManageLeaveManagement,ManageLeaveTransaction,ManageLeaveType,ManagePerformanceSummary,ManageEmployeePerfomance,ManageAddRating,ManageMonthlyReview,ManageYearlyReview,ManageProjectLeaderReview,ManageKPIMaster,ManageKPIWeightage,ManageJobPosting,ManageQuestion,ManageWeeklyQuestions,ManageWeeklyReports" IconClass="fas fa-cogs">
			<siteMapNode SystemName="EmployeeManagement" nopResource="Admin.HRM.EmployeeManagement" PermissionNames="ManageEmployee,ManageDesignation,ManageHoliday,ManageDepartment,ManageEmployeeCurrentActivity,ManageEmployeeActivities" IconClass="far fa-dot-circle">
				<siteMapNode SystemName="Employee" nopResource="Admin.System.Employee" PermissionNames="ManageEmployee" controller="Employee" action="List" IconClass="far fa-dot-circle"/>
				<siteMapNode SystemName="Designation" nopResource="Admin.System.Designation" PermissionNames="ManageDesignation" controller="Designation" action="List" IconClass="far fa-dot-circle"/>
				<siteMapNode SystemName="Holiday" nopResource="Admin.System.Holiday" PermissionNames="ManageHoliday" controller="Holiday" action="List" IconClass="far fa-dot-circle"/>
				<siteMapNode SystemName="Department" nopResource="Admin.System.Department" PermissionNames="ManageDepartment" controller="Department" action="List" IconClass="far fa-dot-circle"/>
				<siteMapNode SystemName="ActivityTracking" nopResource="Admin.System.ActivityTracking" PermissionNames="ManageEmployeeCurrentActivity" controller="Employee" action="ActivityTracking" IconClass="far fa-dot-circle"/>
				<siteMapNode SystemName="ActivityTrackingReport" nopResource="Admin.System.ActivityTrackingReport" PermissionNames="ManageEmployeeActivities" controller="Reports" action="ActivityTrackingReport" IconClass="far fa-dot-circle"/>
			</siteMapNode>
			<siteMapNode SystemName="AttendanceManagement" nopResource="Admin.HRM.AttendanceManagement" PermissionNames="ManageEmployeeAttendance,ManageAttendanceReport,ManageLeaveManagement,ManageLeaveTransaction,ManageLeaveType" IconClass="far fa-dot-circle">
				<siteMapNode SystemName="EmployeeAttendance" nopResource="Admin.System.EmployeeAttendance" PermissionNames="ManageEmployeeAttendance" controller="EmployeeAttendance" action="List" IconClass="far fa-dot-circle"/>
				<siteMapNode SystemName="EmployeeAttendanceReport" nopResource="Admin.System.EmployeeAttendanceReport" PermissionNames="ManageAttendanceReport" controller="Reports" action="EmployeeAttendance" IconClass="far fa-dot-circle"/>
				<siteMapNode SystemName="LeaveManagement" nopResource="Admin.System.LeaveManagementRequest" PermissionNames="ManageLeaveManagement" controller="LeaveManagement" action="List" IconClass="far fa-dot-circle"/>
				<siteMapNode SystemName="LeaveTransactionLog" nopResource="Admin.System.LeaveTransactionLog" PermissionNames="ManageLeaveTransaction" controller="LeaveTransactionLog" action="List" IconClass="far fa-dot-circle"/>
				<siteMapNode SystemName="LeaveType" nopResource="Admin.System.LeaveType" PermissionNames="ManageLeaveType" controller="LeaveType" action="List" IconClass="far fa-dot-circle"/>
			</siteMapNode>
			<siteMapNode SystemName="DailyReport" nopResource="Admin.area.Manage.DailyReports" PermissionNames="ManageDailyReport" controller="DailyReport" action="dailyReportCreate" IconClass="far fa-dot-circle"/>
			<siteMapNode SystemName="Employee Performance Measurement" nopResource="Admin.Performance.Measurement" PermissionNames="ManagePerformanceSummary,ManageEmployeePerfomance,ManageAddRating,ManageMonthlyReview,ManageYearlyReview,ManageProjectLeaderReview,ManageKPIMaster,ManageKPIWeightage" IconClass="far fa-dot-circle" >
				<siteMapNode SystemName="PerformanceSummaryReport" nopResource="Admin.System.PerformanceSummaryReport" PermissionNames="ManagePerformanceSummary" controller="Reports" action="PerformanceSummaryReport" IconClass="far fa-dot-circle"/>
				<siteMapNode SystemName="MonthlyPerformanceReports" nopResource="Admin.System.MonthlyPerformanceReports" PermissionNames="ManageEmployeePerfomance" controller="Reports" action="EmployeePerformanceReport" IconClass="far fa-dot-circle"/>
				<siteMapNode SystemName="AddRating" nopResource="Admin.System.TeamPerformanceMeasurement" PermissionNames="ManageAddRating" controller="TeamPerformanceMeasurement" action="Create" IconClass="far fa-dot-circle"/>
				<siteMapNode SystemName="MonthlyReview" nopResource="Admin.System.AvgMeasurement" PermissionNames="ManageMonthlyReview" controller="TeamPerformanceMeasurement" action="AvgCreate" IconClass="far fa-dot-circle"/>
				<siteMapNode SystemName="YearlyReview" nopResource="Admin.System.YearlyReview" PermissionNames="ManageYearlyReview" controller="TeamPerformanceMeasurement" action="YearlyReviewCreate" IconClass="far fa-dot-circle"/>
				<siteMapNode SystemName="ProjectLeaderReview" nopResource="Admin.System.ProjectLeaderReview" PermissionNames="ManageProjectLeaderReview" controller="TeamPerformanceMeasurement" action="ProjectLeaderReviewCreate" IconClass="far fa-dot-circle"/>
				<siteMapNode SystemName="KPIMaster" nopResource="Admin.System.KPIMaster" PermissionNames="ManageKPIMaster" controller="KPIMaster" action="List" IconClass="far fa-dot-circle"/>
				<siteMapNode SystemName="KPIWeightage" nopResource="Admin.System.KPIWeightage" PermissionNames="ManageKPIWeightage" controller="KPIWeightage" action="List" IconClass="far fa-dot-circle"/>
			</siteMapNode>
			<siteMapNode SystemName="JobPostings" nopResource="Admin.System.JobPostings" PermissionNames="ManageJobPosting" controller="JobPostings" action="List" IconClass="far fa-dot-circle"/>
			<siteMapNode SystemName="CandiatesResumes" nopResource="Admin.System.CandiatesResumes" PermissionNames="ManageCandiatesResumes" controller="CandiatesResumes" action="List" IconClass="far fa-dot-circle"/>
			<siteMapNode SystemName="InterviewQuestions" nopResource="Admin.System.InterviewQuestions" PermissionNames="ManageQuestion" controller="InterviewQeations" action="List" IconClass="far fa-dot-circle"/>
			<siteMapNode SystemName="WeeklyQuestions" nopResource="Admin.System.WeeklyQuestions" PermissionNames="ManageWeeklyQuestions" controller="WeeklyQuestion" action="List" IconClass="far fa-dot-circle"/>
			<siteMapNode SystemName="WeeklyReporting" nopResource="Admin.System.WeeklyReporting" PermissionNames="ManageWeeklyReports" controller="WeeklyReporting" action="List" IconClass="far fa-dot-circle"/>
		</siteMapNode>
		<siteMapNode SystemName="Update" nopResource="Admin.Update" PermissionNames="ManageUpdateTemplate" IconClass="fas fa-sync">
			<siteMapNode SystemName="UpdateTemplate" nopResource="Admin.UpdateTemplate" PermissionNames="ManageUpdateTemplate" controller="UpdateTemplate" action="List" IconClass="far fa-dot-circle"/>
		</siteMapNode>
	</siteMapNode>
</siteMap>
