@using Satyanam.Nop.Plugin.SatyanamCRM.Models.LinkedInFollowups
@model LinkedInFollowupsModel

@{
    const string hideInfoBlockAttributeName = "linkedInFollowupsDetails.HideInfoBlock";
    var customer = await workContext.GetCurrentCustomerAsync();
    var hideInfoBlock = await genericAttributeService.GetAttributeAsync<bool>(customer, hideInfoBlockAttributeName);

}
<input asp-for="Id" type="hidden" />

<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            
            <nop-cards id="linkedInFollowups-item-cards">
                <nop-card asp-name="linkedInFollowups-item-info" asp-icon="fas fa-info" asp-title="@T("Plugin.SatyanamCRM.LinkedInFollowups.Info")" 
                    asp-hide-block-attribute-name="@hideInfoBlockAttributeName" asp-hide="@hideInfoBlock">
                    @await Html.PartialAsync("~/Plugins/Misc.SatyanamCRM/Views/LinkedInFollowups/_CreateOrUpdate.Info.cshtml", Model)
                </nop-card>
            </nop-cards>
        </div>
    </div>
</section>