@model RecurringExpenseModel

@{
    var customer = await workContext.GetCurrentCustomerAsync();

    const string hideInfoBlockAttributeName = "RecurringExpensePage.HideInfoBlock";
    var hideInfoBlock = await genericAttributeService.GetAttributeAsync<bool>(customer, hideInfoBlockAttributeName);
}

<input asp-for="Id" type="hidden" />

<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <nop-cards id="recurring-expense-cards">
                <nop-card asp-name="recurring-expense-info" asp-icon="fas fa-info" asp-title="@T("Satyanam.Plugin.Misc.AccountManagement.Admin.RecurringExpense.Info")" asp-hide-block-attribute-name="@hideInfoBlockAttributeName" asp-hide="@hideInfoBlock" asp-advanced="false">
                    @await Html.PartialAsync("~/Plugins/Misc.AccountManagement/Areas/Admin/Views/Extension/RecurringExpense/_CreateOrUpdateRecurringExpense.Info.cshtml", Model)
                </nop-card>
            </nop-cards>
        </div>
    </div>
</section>
