@model TaskAlertConfigurationModel

@{
    var customer = await workContext.GetCurrentCustomerAsync();

    const string hideInfoBlockAttributeName = "TaskAlertConfigurationPage.HideInfoBlock";
    var hideInfoBlock = await genericAttributeService.GetAttributeAsync<bool>(customer, hideInfoBlockAttributeName);
}

<input asp-for="Id" type="hidden" />

<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <nop-cards id="task-alert-configurations">
                <nop-card asp-name="task-alert-configuration-info" asp-icon="fas fa-info" asp-title="@T("Admin.TaskAlert.TaskAlertConfiguration.Info")" asp-hide-block-attribute-name="@hideInfoBlockAttributeName" asp-hide="@hideInfoBlock" asp-advanced="false">
                    @await Html.PartialAsync("_CreateOrUpdateTaskAlertConfiguration.Info.cshtml", Model)
                </nop-card>
            </nop-cards>
        </div>
    </div>
</section>
